.box{
    background: #004047;
}

.box_item{
    background: #012F34;
    position: relative;
    height: 250px;
}


.box_img{
    border-radius: 50%;
}

.box_title{
    color: #79C8C7;
}
.box_line{
    z-index: 3;
    width: 56px;
    height: 56px;
    transform: translateY(-5px);
    background: #F67E7E;
    border-radius: 50%;
    position: relative;
    margin: auto;
    cursor: pointer;
}

.box_line:hover + .box_item_card {
    display: block;
    background-color: black;
    opacity: 0.8;
    height: 260px;
    top: 0;
} 
.box_line:hover{
    transition: .7s;
    transform: translateY(-5px) rotateZ(-135deg);
    background: #79C8C7;
}

.box_line_img{
    margin-top: 20px;
    margin-right: 2px;
}

.box_item_card{
    display: none;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
}